<a href="https://colab.research.google.com/github/zsl0420/PythonPointsReview/blob/main/Python_points_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

关于python print()  
1.多个打印，但是只打印出一行 打印加上end=" "  
2.end="" 中可以是任意的

In [ ]:
print("this is line1", end=" ")
print("this is line2", end=" ")
print("this is line3", end="+++")

this is line1 this is line2this is line3+++

python有六种基本数据类型，分别是数字Number、字符串String、元组Tuple、列表List、字典Dictionary、集合Set

In [ ]:
# 数字
number1 = 1
# 字符串
string1 = "1a2b3c"
# 元组
tuple1 = (1, 2, 3, 4, 5)
# 列表
list1 = [1, 2, 3, 4, 5]
# 字典
dict1 = {"a":1, "b":2, "c":3}
# 集合
set1 = {1, 2, 3, 4}
print("Number:",number1, "String:",string1, "Tuple:",tuple1, "list:",list1, "Dict:",dict1, "Set:",set1)

Number: 1 String: 1a2b3c Tuple: (1, 2, 3, 4, 5) list: [1, 2, 3, 4, 5] Dict: {'a': 1, 'b': 2, 'c': 3} Set: {1, 2, 3, 4}

基本数据类型分为可变类型和不可变类型  
可变类型：可变数据类型是指变量所指向的内存地址处的值是可以被改变的,也就是说可变类型在赋值的时候copy的是地址或者引用，python中有List、Dictionary、Set  
不可变类型：该类型变量的值发生变化时，其对应的内存地址也变化了，改变值的时候，会重新开辟一个内存空间 python中有Number、String、Tuple  
变与不变指的是这个变量发生变化时，对应内存所存的值是否可以发生变化，不可变类型会重新分配一个内存空间来存新的值，原有内存地址内的值不会发生变化，而可变类型则会

In [ ]:


# 修改Number的值
print(type(number1), id(number1))
number1 = 2
print(type(number1), id(number1))

# 修改字符串的值
print(type(string1), id(string1))
string1 = '1234'
print(type(string1), id(string1))

# 修改Tuple值,Tuple 类型不支持修改
# print(type(tuple1), id(tuple1))
# tuple1[1] = 10

# 修改List
print(type(list1), id(list1))
list1[1] = 100
print(type(list1), id(list1))

# 修改字典
print(type(dict1), id(dict1))
dict1['a'] = 100
print(type(dict1), id(dict1))

<class 'int'> 9793088
<class 'int'> 9793120
<class 'str'> 140304476947248
<class 'str'> 140304681786032
<class 'list'> 140304475162432
<class 'list'> 140304475162432
<class 'dict'> 140304476776704
<class 'dict'> 140304476776704

In [ ]:
# 可变与不可变常见场景
# 1.赋值 Number 把A变量赋值给B, 更改A 的值后，B 的值还是原始值
c = 2
print("c:", c, type(c), id(c))
d = c
print("d:", d, type(d), id(d))
c = 3
print("c:", c, type(c), id(c))
print("d:", d, type(d), id(d))

# 列表
list2 = [1, 2, 3, 4, 5]
print("list2:", list2, type(list2), id(list2))
list3 = list2
print("list3:", list3, type(list3), id(list3))
list2.append(6)
print("list3:", list3, type(list3), id(list3))

c: 2 <class 'int'> 9793120
d: 2 <class 'int'> 9793120
c: 3 <class 'int'> 9793152
d: 2 <class 'int'> 9793120
list2: [1, 2, 3, 4, 5] <class 'list'> 140516585722240
list3: [1, 2, 3, 4, 5] <class 'list'> 140516585722240
list3: [1, 2, 3, 4, 5, 6] <class 'list'> 140516585722240